@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Nanum+Myeongjo&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=RocknRoll+One&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: papayawhip;
}

li {
    list-style-type: none;
}

.main-header {
    background-color: papayawhip;
    background-position: 50% 39%; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.log-zoom{
    transition: transform 0.3s ease;
}
.log-zoom:hover{
    transform: scale(1.2);
}


.main-nav {
    width: 100%; 
    
}

.header-list-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 16px 0; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav-item {
    text-transform: uppercase;
    color: black;
    margin: auto;
}
.rotulo{
    font-size: 20px;
    font-family: 'calibri';
    display: block;
    align-items: center;


}

.nav-item a {
    text-decoration: none;
    color: inherit;
    margin-left:15px ;
}

.nav-item:hover {
    color: black;
    transition: 0.2s;

}

.main-about {
    padding: 40px 0px 64px;
}

.container {
    max-width: 600px;
    padding: 0 16px;
    margin: 0 auto;
}

.title-median {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.about-image {
    float: left; 
    margin: 0 20px 10px 0;
    width: 200px;
    height: auto;
}

.about-description {
    color: papayawhip;
    text-align: justify;
}

.main-footer {
    background-color:white;
    padding: 15px 0;
}



.title-smaller{
    
    font-family:"Roboto", sans-serif;
    color:black;
    font-size: 30px;
    text-align: center;
    
}

.list-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.footer-Item {
    width: 50px;
    height: 50px;
    padding: 15px 0;
}

.footer-Item , .footer-Item {
    margin-left: 16px;
}

.contact-text {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: var(--Gray);
}
.text{
    margin: 15px;
    text-align: center;
}
.container{
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;

}


.contact {
    background-color:bisque;
    padding: 60px;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    
}

.contact-label{
    display: block;
    margin-bottom: 20px;
    color: black;
    
}

.contact-field{
    display: block;
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: none;

}

.contact-field:focus {
    background-color: var(--Gray);
    outline: none;
}

textarea.contact-field {
    height: 150px;
    padding: 10px;
    font-family: "Roboto", calibri;
}



.button-form:hover {
  background-color: rgb(255, 255, 0);
}
.button{
    background-color: rgb(231, 189, 184);
    color: black;
    padding: 8px 6px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 3px 3px black;
}

.button:hover {
    background-color: yellow;
}


.title-header {
    font-family: "RocknRoll One", cursive;
    color:black;
    font-size: 38px;
    padding-bottom: 10px;
    text-align: center;
}

.title-large {
    font-family: "rock s", cursive;
    font-size: 38px;
    color: var(--blue);
    text-align: center;
}

.description {
    text-align: center;
    color: var(--Gray);
    padding-bottom: 10px;
}

.emphasis {
   
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 30px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {
    font-size: 20px;
    margin-bottom: 6px;
}

.product-image {
    width: 450px;
    height: 350px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px black;
}

.product-price-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.button-hover {
    background-color: var(--skyblue);
    color: var(--blue);
    border: 2px solid var(--skyblue);
    border-radius: 10px;
    padding: 4px 2px;
    font-weight: bold;
    cursor: pointer;
}

.button-hover:hover {
    background-color: transparent;
}

.cart-table {
    width: 100%;
    border-collapse: collapse; 
    padding-bottom: 6px;
}

.table-head-item {
    text-align: start;
   border-bottom: 1px solid var(--Gray);
   padding-bottom: 6px;
   text-transform: uppercase; 
}

.second-col,
.third-col {
    width: 30%; 
}

.cart-product {
    padding: 8px; 
}

.product-identification {
    display: flex; 
    align-items: center; 
}

.cart-product-image {
    width: 120px; 
    height: 80px;
}

.cart-product-title {
    margin-left: 15px; 
}

.cart-product-price {
    font-family: "Raleway", sans-serif;
}

.product-qnt-input {
    width: 45px;
    height: 35px;
    border: 2px solid var(--blue);
    border-radius: 5px;
    background-color: var(--Gray);
    text-align: center;
}

.remove-product-button {
    background-color: var(--red);
    color: var(--width);
    border: 0;
    border-radius: 5px;
    padding: 4px 2px;
    margin-left: 5px;
}

.remove-product-button:hover {
    filter: brightness(0,8); 
}

.cart-total-container {
    border-top: 1px solid var(--Gray);
    text-align: end; 
    padding: 6px 16px 0 0; 
}

.cart-total-container strong {
    margin-right: 10px;
}

.purchase-button {
    display: flex;
    padding: 16px 20px; 
    background-color: var(--blue);
    color: var(--width);
    border-radius: 6px;
    text-transform: uppercase;
    border: 0;
    font-weight: bold;
    margin: 24px auto 0;
}







.box{
    width: 100%;
    height: 100%;
}
